@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

nav{
	width:90%;
	max-width:1024px;
	margin:30px auto;
	background-color: black;
	padding: 0 20px;
	border-radius: 20px;
}

nav ul{
	list-style: none;
	font-size: 0;
}
	
nav ul li{ 
	display:inline-block;
	width:20%;
}

nav ul li a{
	display: block;
	font-size: 20px;
	color:white;
	text-decoration:none;
	font-family: arial;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding:20px;
	text-align:center;
	transition:.4s;
	
}
nav ul li a:hover{
	background-color: rgba(85,83,83,0.44);
	
}

section{
	height:300px;
	background-color: #ddd;
}